.chart-header
{
    background-color: #898989;
    color: white;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}
.chart
{
    background-color: #898989;
    color: white;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #222222;
}
.background
{
    background-color: #494949;
}
.frame
{
    /* background-color: #898989; */
    color: white;
    border: 2px;
    border-color: #ff0000;
    outline-color: #ff0000;
}
